{
    "parseOptions":{
        "ecmaVersion":2020,
        "sourceType":"module",
        "ecmaFeatures":{
            "jsx":true
        }
    },
    "env":{
        "browser":true,
        "node":true,
        "es6":true
    },
    "extends":[//실제 규칙
        "eslint:recommend",
        "plugin:react/recommended"
    ],
    "plugins":[
        "import",
        "react-hooks"
    ],
    "rules":{

    }
}